milp/__pycache__/active_sboxes.cpython-311.pyc
milp/__pycache__
data_active.csv
best_r4.json
longest_threshold.csv
mbc/__pycache__/cipher.cpython-311.pyc
mbc/__pycache__/perm.cpython-311.pyc
mbc/__pycache__/sbox.cpython-311.pyc
milp/__pycache__/active_sboxes.cpython-311.pyc
milp/__pycache__/active_sboxes.cpython-311.pyc
mbc/__pycache__/cipher.cpython-311.pyc
mbc/__pycache__/perm.cpython-311.pyc
mbc/__pycache__/sbox.cpython-311.pyc
res.txt
